body {
    background-color: papayawhip;
  }
  
  table,
  td {
    border: 1px solid black;
  }
  
  table {
    text-align: center;
    border-collapse: collapse;
    margin: 12px 0;
  }
  
  td {
    padding: 12px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }